@font-face {
  font-family: "n0rpicons2";
  src: local("n0rpicons2"), url("font/n0rpicons2.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Orbitron-Bold";
  src: local("Orbitron-Bold"), url("font/Orbitron-Bold.ttf") format("truetype");
  font-display: swap;
}
body {
  font-family: "n0rpicons2";
  background-color: #121212;
  height: 100dvh;
  overflow: hidden;
  transition: 0.5s;
  transition-delay: 0s;
}
body.activate {
  transition: 1s;
  transition-delay: 1s;
  background-color: #fe617b;
}

.video {
  display: none;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 431px) {
  .video {
    display: block;
  }
}
@media (min-width: 767px) {
  .video {
    display: none;
  }
}
@media (min-width: 812px) {
  .video {
    display: block;
  }
}

.heart-grid {
  position: relative;
  overflow: hidden;
}
.heart-grid .splash-screen {
  position: absolute;
  inset: 10px;
  background: linear-gradient(-135deg, #000, #ec53cd);
  z-index: 1000;
  transition: 1.5s;
  transition-delay: 0.5s;
  border-radius: 10px;
  box-shadow: 0 0 0 20px #000;
  overflow: hidden;
}
.heart-grid .splash-screen.inactive {
  transform: translateY(120%);
  border-radius: 40px;
  visibility: hidden;
  opacity: 0;
}
.heart-grid .splash-screen.inactive .muffin {
  transition: 0.5s;
  opacity: 0;
}
.heart-grid .splash-screen.menubarHidden .title {
  transition: top 1s;
  top: 20%;
}
.heart-grid .splash-screen.menubarHidden .figure {
  font-size: 137vh;
}
.heart-grid .splash-screen.menubarHidden .btnEnter {
  transition: top 1s;
  top: 52%;
  left: 64%;
}
.heart-grid .splash-screen .warn {
  font-family: "Orbitron-Bold";
  position: absolute;
  bottom: 5px;
  right: 15px;
  color: #121212;
  font-size: 3.8vw;
  -webkit-text-stroke: 1vw rgba(236, 83, 205, 0.5019607843);
  paint-order: stroke;
  z-index: 10000;
  transition: 0s;
}
.heart-grid .splash-screen .warn.inactive {
  transition: 0.8s;
  opacity: 0;
}
.heart-grid .splash-screen .warn span.symbol {
  font-size: 1.2em;
}
.heart-grid .splash-screen .title {
  position: absolute;
  right: -20px;
  top: 16%;
  width: 320px;
  height: 250px;
  background-image: url("svg/sweetMuffins.svg");
  background-position: center;
  background-size: 270px 250px;
  background-repeat: no-repeat;
  transition: top 0.3s, opacity 1s;
  z-index: 1000;
  pointer-events: none;
}
.heart-grid .splash-screen .title.inactive {
  opacity: 0;
}
@media (min-width: 767px) {
  .heart-grid .splash-screen .title {
    width: 620px;
    height: 400px;
    background-size: 500px 550px;
    opacity: 0.8;
  }
}
.heart-grid .splash-screen .figure {
  font-family: "n0rpicons2";
  position: absolute;
  inset: 0;
  line-height: 0.73;
  font-size: 113vh;
  margin-left: 20px;
  color: rgba(51, 51, 51, 0.862745098);
  color: #000;
  opacity: 0;
  transition: font-size 0.5s, opacity 0s;
}
.heart-grid .splash-screen .btnEnter {
  font-family: "Orbitron-Bold";
  position: absolute;
  top: 57%;
  left: 73%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  padding: 15px 20px 10px;
  border-radius: 30px;
  color: rgba(221, 255, 0, 0.9137254902);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 3px rgba(221, 255, 0, 0.9137254902);
  transition: top 0.3s;
  cursor: pointer;
}
.heart-grid .splash-screen .btnEnter.active {
  transition: transform 1s, opacity 0.8s;
  transform: scale(1.2) translate(calc(-50% + 15px), calc(-50% - 0px));
  opacity: 0;
}
.heart-grid .splash-screen .btnEnter:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.heart-grid .splash-screen .btnEnter.pulse {
  animation: pulse 1s 6 linear forwards;
}
.heart-grid .splash-screen .heartWrapper {
  position: absolute;
  z-index: 10000;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
}
.heart-grid .splash-screen .heartWrapper.active {
  transform-origin: var(--originX) var(--originY);
  animation: animateHeartWrapper 3s linear forwards;
}
.heart-grid .splash-screen .heartWrapper .heart {
  transform-origin: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f00;
  width: 50px;
  aspect-ratio: 1;
  opacity: 0.5;
}
.heart-grid .splash-screen .heartWrapper .heart.active {
  animation: animateHeart 0.5s linear infinite forwards;
}
.heart-grid .container {
  height: 100dvh;
  overflow: hidden;
  position: relative;
}
@media (min-width: 431px) {
  .heart-grid .container {
    display: none;
  }
}
@media (min-width: 767px) {
  .heart-grid .container {
    display: block;
  }
}
@media (min-width: 812px) {
  .heart-grid .container {
    display: none;
  }
}
.heart-grid .container .muffin {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: rgba(254, 97, 123, 0.55);
  padding: 2px 10px 9px 9px;
  display: none;
}
.heart-grid .container .muffin.activate {
  display: block;
  z-index: 100000;
}
.heart-grid .container .muffin .svgMuffin {
  width: 50px;
  height: 50px;
  animation: animateMuffin 2.5s ease-in-out infinite forwards;
  padding: 0 0px 3px 0px;
}
.heart-grid .container .msg {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 25px;
  right: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(254, 97, 123);
  color: #fff;
  background-color: rgba(254, 97, 123, 0.55);
  padding: 0 10px;
  border-radius: 10px;
  display: none;
}
.heart-grid .container .msg.activate {
  display: block;
}
.heart-grid .container .msg .fa-phone {
  transform: rotate(-15deg);
  padding: 5px 0;
  margin-left: 5px;
}
.heart-grid .container .image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.heart-grid .container .image-wrapper .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
@media (min-width: 815px) {
  .heart-grid .container .image-wrapper .image {
    object-fit: fill;
  }
}
.heart-grid .container .star-wrapper {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.heart-grid .container .star-wrapper.inactive {
  display: none;
}
.heart-grid .container .star-wrapper .white-star {
  width: 40px;
  height: 40px;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: #fff;
  background-color: #ee9aff;
  border-radius: 50%;
}
.heart-grid .container .star-wrapper .white-star.redStar {
  color: #f00;
}
.heart-grid .container .star-wrapper .white-star.blackStar {
  color: #000;
}
.heart-grid .red-heart {
  font-size: 40px;
  color: red;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  visibility: hidden;
}
.heart-grid .heartSign {
  position: absolute;
  width: 50px;
  aspect-ratio: 1;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s 1s;
  -webkit-text-stroke: rgba(255, 255, 255, 0.2) 3px;
}
.heart-grid .heartSign.active {
  opacity: 0.3;
}

@keyframes animateHeartWrapper {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(0px, var(--destinationY)) rotate(var(--rotate));
  }
}
@keyframes animateHeart {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--rotate));
  }
}
@keyframes animateMuffin {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  30% {
    opacity: 1;
    transform: scale(1.8);
  }
  100% {
    opacity: 1;
    transform: scale(1.8);
  }
}
@keyframes pulse {
  50% {
    opacity: 0.3;
  }
}